body {
  width: 100%;
}

.interlinked-grid {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.interlinked-mark {
  position: fixed;
}

.interlinked-child-grid {
  display: grid;
}


.url-target {
  display:none;
  position:relative;
  bottom: 2rem;
}



.link:hover {
  border: 1px solid black;
  border-radius: 2rem;
}

.link:hover > div.url-target {
  display: block;
}

svg {
  stroke: black;
  fill: transparent;
  background-color: rgb(244, 244, 244);
  border-radius: 2rem;

}

.svgControls {
  position: fixed;
  bottom: 0;
  margin: 1rem;
}