
body {
  background-color:rgb(255, 252, 248);
  color:rgb(52, 29, 0);
}
.interlinked-main-grid {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
}

.hullo {
  fill:rgb(52, 29, 0);
}

.para-start {
  font-weight: bold;
}

.interlinked-label {
  padding: 1em;
  display: none;
  position: absolute;
  top: 2em;
  left: 1em;
  font-weight: bold;
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.845);
}

.interlinked-child-grid {
  display: grid;
}

.link {
  border: 1px solid rgb(255, 252, 248);
  display: block;
  position: relative;
}

.link:hover {
  border: 1px solid rgb(52, 29, 0);
  border-radius: 1em;
}

.link:hover .interlinked-label {
  display: block;
}

svg {
  stroke: rgb(52, 29, 0);
  fill: transparent;
  background-color: transparent;
}

.svgControls {
  position: fixed;
  bottom: 0;
  margin: 1em;
} 
